
body {
  background: #f5f6fb;
  font-family: 'Roboto', sans-serif;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  background-image: url(../img/256.png);
  
}

a {
  color: #222222;
  text-decoration: none;
  font-weight: 500;
}

.contenedor {
  max-width: 10000px;
  width: 100%;
  padding: 0px 0;
  border-radius: 15px;

  
}


nav {
  background: #fcfeff;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 20px;
  border-radius: 15px;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  -webkit-box-shadow: 10px 10px 20px rgba(228, 14, 14, 0.16);
          box-shadow: 10px 10px 20px rgba(216, 19, 19, 0.16);
}

nav .logotipo {
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  color: #000000;
}

nav .enlaces {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .enlaces a {
  margin-right: 40px;
}

nav .enlaces a:hover {
  color: #707070;
}


@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');


html, body{
  margin: 0;
  padding: 0;
}

body{
  width: 100%;
  height: 50%;
  font-family: sans-serif;
  letter-spacing: 0.03em;
  line-height: 1.6;
  font-family: 'Open Sans', sans-serif;
  color:rgb(37, 37, 35);
    
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', 'Sans serif';
  background-size: cover;
  height: 90vh;

}

.banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 90%;
  max-width: 1200px;
  margin: auto;
  
}

.banner_title h2{
  color: rgb(14, 14, 14);
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 50px;
  text-align: center;
  height: auto;
  width: auto;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*-REDES SOCIALES */
.social-networks a {
  display: inline-flex;
  color: #ffffff;
  height: 48px;
  width: 48px;
  background-color: #000000;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 100%;
  margin: 30px 20px;
  transition: transform 0.4s;
  
}
  
.social-networks a:hover {
  transform: scale(1.3);
}
  
.social-networks a.facebook {
  background-color: #3c70a4;
}
  
.social-networks a.twitter {
  background-color: #5bd1d7;
}
  
.social-networks a.instagram {
  background-color: #bb7171;
}

.social-networks a.linkedin {
  background-color: #1927ea;
}